@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,900&display=swap");

* {
  box-sizing: border-box;
}
body {
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 5rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
h2 {
  font-size: 1rem;
  text-align: center;

  font-weight: lighter;
  margin-top: 1rem;
  align-items: center;
}
#img-caption {
  margin: 15px 5px;
  text-align: center;
}
#img-div {
  align-self: center;
}
img {
  padding: 10px;
}

a {
  color: #477ca7;
}

a:visited {
  color: #ffbbec;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
  }
}

h2 {
  text-align: center;
  font-size: 2rem;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 5px auto;
}

#img-div {
  background: white;
  padding: 5pxpx;
  margin: 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.2rem;
  }
}
